<!DOCTYPE html>

{% extends 'userslist/base.html' %}
{% load static %}

<html>
<head>
 <meta charset="utf-8" />
  {% block title %}
    <title>Сайт простых рецептов.Профиль пользователя</title>
  {% endblock %}
</head>
<body>

  {% block content %}
  <h3 style="display: flex; justify-content: center; color: #DD3333">Профиль пользователя </h3>
  <div class="card text-center">
    <div class="card-body">
    {% if user.is_authenticated %}
        <h5 class="card-title">
          <p>Имя пользователя: {{ user.username }}</p>
          <p>Имя: {{ user.first_name }}</p>
          <p>Фамилия: {{ user.last_name }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Дата рождения: {{user.profile.date_of_birth}}</p>
          {% if user.profile.photo %}
            <img class="card-img-top" style="width:50%" src="{{ user.profile.photo.url }}" alt="">
          {% else %}
            <p style="color: red">Фото отсутствует.</p>
          {% endif %}
    {% else %}
          <p>Вы не авторизованы. Пожалуйста, авторизуйтесь.</p>
    {% endif %}
        </h5>
    </div>
  </div>
  <div class="form-group py-3">
    <a class="btn btn-outline-info"
       href="{% url 'userslist:edit-user' %}">Изменить профиль</a>
  </div>
    <div class="form-group py-3">
      <a class="btn btn-outline-primary"
         href="{% url 'recipesapp:list' %}">Вернуться к списку рецептов</a>
    </div>

  {% endblock %}
</body>
</html>