<!DOCTYPE html>
<html lang="en">
<head>
  {% extends 'userslist/base.html' %}
 <title>
  {% block title %}
    Обо мне
  {% endblock %}
  </title>
</head>
<body>
  {% block body %}
    <h3>Информация о пользователе:</h3>
    {% if user.is_authenticated %}
      <p>Имя пользователя: {{ user.username }}</p>
      <p>Имя: {{ user.first_name }}</p>
      <p>Фамилия: {{ user.last_name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Дата рождения: {{user.profile.date_of_birth}}</p>
    {% else %}
      <p>Вы не авторизованы. Пожалуйста, авторизуйтесь.</p>
    {% endif %}
  {% endblock %}
</body>
</html>