<!DOCTYPE html>
{% extends "userslist/base.html" %}
{% load static %}

<head>
  <meta charset="UTF-8">
  {% block title %}
    <title>Сайт простых рецептов.Регистрация</title>
  {% endblock %}
</head>

<body>
{% block content %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Заполните поля  для создания аккаунта</legend>
    <div class="container">
        <form method="post">
          {% csrf_token %}
          <fieldset class="form-group">
          {{ form.as_p }}
            <div class="form-group py-3">
              <button class="btn btn-outline-primary" type="submit">Зарегистрироваться</button>
            </div>
          </fieldset>
        </form>
    </div>
  </fieldset>
<br>
<fieldset class="form-group">
  <legend class="border-bottom mb-4">Уже зарегистированы?</legend>
  <a class="btn btn-outline-primary" href="{% url 'userslist:login' %}">Войти</a>
</fieldset>
<br>
<fieldset class="form-group">
<div class="form-group py-3">
  <a class="btn btn-outline-info" href="{% url 'recipesapp:index' %}">Вернуться на Главную</a>
</div>

</fieldset>
  {% endblock %}

</body>
</html>