{% extends 'userslist/base.html' %}
  <title>
  {% block title %}
    User
  {% endblock %}
  </title>

<body>
  {% block body %}
    <h1>User Form</h1>
    <div>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
          Submit
        </button>
      </form>
    </div>
  {% if request.POST %}
    <div>
      <h3>Form submitted successfully!</h3>
      <table>
        <tr>
          <td>First name:</td>
          <td>{{ request.POST.first_name }}</td>
        </tr>
        <tr>
          <td>Last name:</td>
          <td>{{ request.POST.last_name }}</td>
        </tr>
        <tr>
          <td>Age:</td>
          <td>{{ request.POST.age }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ request.POST.email }}</td>
        </tr>
    </div>
  {% endif %}
  {% endblock %}
</body>
