<!DOCTYPE html>
{% extends "recipesapp/base.html" %}
{% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    {% block title %}
      <title>Сайт простых рецептов.Авторы</title>
    {% endblock %}
  </head>

  <body>
  {% block content %}

  <div class="container" >

    <h3 style="display: flex; justify-content: center; ">Наши авторы:</h3>
    {% if authors  %}
      <div>
        {% for author in authors %}
        <li>
          <strong>Автор: {{ author }}</strong>
        </li>
        {% endfor %}
      </div>
    {% else %}
      <h3>No authors found.</h3>
    {% endif %}
  {% endblock %}
    </div>
  </body>
</html>
