<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}
      {% if title %}
        <title>{{title}}</title>
      {% else %}
        <title>Сайт ПП-рецептов</title>
      {% endif %}
    {% endblock %}

  </head>
  <body>
    {% block body %}
      Base body
    {% endblock %}
    <div>
      <div>
        {% now 'l' as current_day %}
        Today is {{ current_day }}
      </div>

      <div>
        {% now "jS F Y H:i" %}
      </div>
    </div>
  </body>
</html>