<!DOCTYPE html>
{% extends "recipesapp/base.html" %}
{% load static}

<html>
<head>
  {% block title %}
  <title>Сайт простых рецептов.Главная</title>
  {% endblock %}

</head>
<body>
{% block body %}
  <h3 style="text-align: center; ">Добро пожаловать на наш сайт полезных и вкусных рецептов!</h3>
  <div style="width: 100vw; height: 70vh; display: flex; align-items: center; justify-content: center;">
    <img style="max-width: 90%;  max-height: 70%; display: block;" src="https://prorisuem.ru/foto/9315/risunok_zdorovaia_eda_19.webp">
  </div>
  <h4 style="text-align: center; color:#DD3333;">Готовьте быстро, просто и вкусно с нашим сайтом! </h4>
  <h4 style="text-align: center; color:#DD3333;">Наши рецепты помогут Вам cэкономить время и угодить всем вкусам!</h4>

  {% endblock %}

</body>
</html>


