<!DOCTYPE html>
{% extends "recipesapp/base.html" %}
{% load static %}

<html>
<head>
  <meta charset="utf-8" />
  {% block title %}
    <title>Сайт простых рецептов.Изменение рецепта</title>
  {% endblock %}
</head>

<body>
  {% block content %}
  <h3 style="display: flex; justify-content: center;">Изменение рецепта "{{recipe.title}}"</h3>
  <br>
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Измените все необходимые поля данного рецепта</legend>
        {{ form.as_p }}
      </fieldset>
      <div class="form-group py-3">
        <button class="btn btn-outline-info" type="submit">Сохранить изменения</button>
      </div>
      <div  class="form-group py-3">
        <a class="btn btn-outline-primary" style="height: 55px; width: 250px;"
           href="{% url 'recipesapp:recipe_details' pk=recipe.pk %}">Вернуться к рецепту без сохранения изменений</a>
      </div>
    </form>
  </div>
  {% endblock %}
</body>
</html>