{% extends "recipesapp/base.html" %}

{% block title %}
  <title>Сайт ПП-рецептов. Рецепты</title>
{% endblock %}

{% block body %}
  <h3 style="display: flex; justify-content: center; ">Recipes:</h3>
  {% if recipes  %}
  <div>
    {% for recipe in recipes %}
    <li>
      <a href= "{% url 'recipesapp:recipe_details' pk=recipe.pk %}"><strong>{{ recipe.title }}
      </strong></a> - {{ recipe.description_short }}
    </li>
    {% endfor %}
  </div>
  {% else %}
  <h3>No recipes found.</h3>
  {% endif %}
<br>
  <div>
    <a href="{% url 'recipesapp:recipe_create' %}"  target="blank">Добавить новый рецепт</a>
  </div>
{% endblock %}

