<!DOCTYPE html>
{% extends "recipesapp/base.html" %}
{% load static %}

<html>
<head>
  <meta charset="utf-8" />

  {% block title %}
    <title>Сайт простых рецептов.Рецепт №{{ recipe.pk }}</title>
  {% endblock %}
</head>
<body>
  {% block content %}

  <h1> <em>{{ recipe.title }}</em></h1>
  <div>
    <p><b>Описание:</b><em> {{ recipe.description }}</em></p>
  </div>
  <div>
    <p><b>Шаги приготовления:</b></p>
      <p>{{ recipe.steps_of_cooking }}</p>
  </div>
  <div>
    <p><b>Время приготовления</b>: {{ recipe.time_for_cooking }} мин.</p>
  </
  <div>
    <p><b>Автор:</b> {{ recipe.author }}</p>
  </div>
  {% if recipe.photo %}
    <div>
        <img width="250 px" style= "justify-content: center;" src="{{ recipe.photo.url }}" alt="">
    </div>
  {% else %}
  <p style="color:red"><em><b>К сожалению, фото рецепта отсутствует.</b></em></p>
  {% endif %}
  <div>
    <p style="color:grey">Дата создания: <em>{{ recipe.created_at|date:"F d, Y" }} </em></p>
  </div>

  <br>
  <div>
    <a href="{% url 'recipesapp:recipe_update' pk=recipe.pk %}">Изменить рецепт</a>
  </div>
  <br>
  <div>
    <a href="{% url 'recipesapp:recipe_delete' pk=recipe.pk %}">Удалить рецепт</a>
  </div>
  <br>
  <div>
    <a href="{% url 'recipesapp:list' %}">Вернуться к списку рецептов</a>
  </div>

  {% endblock %}
</body>
</html>